$avatar-height: 60px;
$avatar-width: 60px;

$border-width-sm: 1px;
$border-width-md: 3px;

$white: rgb(249, 249, 249);
$black: rgb(44, 48, 51);
$gray: rgb(155, 160, 163);
$balihai: rgb(122, 161, 178);
$dovegray: rgb(102, 102, 102);
